{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 8">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <title>
        {% block title %} Lab 8 By {{author}} {% endblock %}
    </title>
</head>
<body>
    <style>
        html {
          margin: 40px auto;
          text-align: center;
        }
        body {
            background-color:whitesmoke;
        }
        .btn-facebook {
          background: #3B5998;
          border-radius: 0;
          color: #fff;
          border-width: 1px;
          border-style: solid;
          border-color: #263961; 
        }
        .btn-facebook:link, .btn-facebook:visited {
          color: #fff;
        }
        .btn-facebook:active, .btn-facebook:hover {
          background: #263961;
          color: #fff;
        }
        .bg-overlay {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            color: #fff;
            padding-top: 50px;
        }
    </style>
    <header>
        {% include "lab_8/partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_8/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/lab8.js' %}"></script>
</body>
