{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function() {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function(response) {
                    var friend_list = JSON.parse(response);
                    if (friend_list.length === 0)
                        $('#friend-list').append('<span class="list-group-item alert-danger text-center">Tidak ada teman</span>')
                    $.each(friend_list, function(index, friend) {
                        var button = '<button type="button" class="pull-right btn btn-xs btn-danger"' +
                            'onClick="deleteFriend(' + friend.pk + ')">' +
                            '&times; Remove Friend' +
                            '</button>' +
                            '</div>';
                        var html = '<div class="list-group-item clearfix">' + friend.fields.friend_name + '</a>' + button;

                        $("#friend-list").append(html)
                    })

                },
                error: function(error) {
                    $('#friend-list').append("Tidak ada teman")
                }
            });
        });

        function deleteFriend(id) {
            /*alert("Apakah Anda akan menghapus " + friend.friend_name + " dari daftar teman?");*/
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:delete-friend" %}',
                data: {
                    'id': id
                },
                dataType: 'json',
            });
            window.open('../friend-list/', '_self')
        }
    </script>
{% endblock %}
